@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav ul {
    list-style: none;
    background: #3d5347;
    text-align: center;
  }
nav ul li {
    display: inline-block;
    position: relative;
    }
    nav ul li a {
    display: block;
    padding: 20px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 1vw;
    }
    nav ul li ul.dropdown li {
    display: block;
    background: #3d5347;
    margin: 1px 0px;
    font-size: 13px;
    width: 180px;
    }
    nav ul li ul.dropdown {
    width:0%;
    position: absolute;
    z-index: 999;
    display: none;
    }
    nav ul li a:hover {
    color: black;
    }
    nav ul li:hover ul.dropdown{
    display: block;
  }
#logo {
    font-size: 250%;
    color: #F6F5F2;
    letter-spacing: 1px;
    text-align: center;
}
@media (max-width:600px) {
  nav ul li a {
    font-size: 2vw;
    }
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #333;
  background-image: url(images/order/bg6.png);
  background-color: #ccc;
}
h1 {
  font-weight: bold;
  color: #596960;
  margin-bottom: 10px;
  text-align: center;
}
form {
  width: 1100px;
  margin: 40px auto;
  padding: 20px;
  background-color: #F6F5F2;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 12px;
}
.flex-box{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px;
}
img {
  width: 150px;
  padding: 5px;
}
.flex-item {
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.price {
  color: #598b47;
  text-align: center;
}
.title {
  text-align: center;
  font-weight: bold;
  color: #596960;
}
.section {
    margin-bottom: 20px;
}
legend {
  padding: 5px;
  margin-left: 10px;
  color: #596960;
  font-size: 15px;
  font-style:italic;
  opacity: 0.9;
}

input[type="number"] {
  width: 60px;
  height: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: 40px;
}

button {
  background-color: #819188;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  margin-left: 10%;
}

button:hover {
  background-color: #596960;
}

button:active {
  background-color: #596960;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.buttons {
  display: flex;
  margin-left: 100px;
}
.buttons2 {
  display: flex;
  margin-left: 260px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

th, td {
  border: 1px solid #596960;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #e5e3df;
}

td {
  vertical-align: top;
}
hr {
  margin-top: 5%;
}
h3 {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  color: #3d5347;
  text-transform: uppercase;
}
@media (max-width:600px) {
  form {
    width: 100%;
  }
  .flex-box {
    flex-wrap: wrap;
  }
  table {
    width: 100%;
  }
  .buttons {
    flex-wrap: wrap;
    margin-left: 70px;
    font-size: 20px;
  }
  .buttons2{
    flex-wrap: wrap;
    margin-left: 10px;
    font-size: 10px;
  }
  fieldset {
    width: 100%;
  }
  .flex-item{
    margin-left: 0;
  }
  img {
    width: 90%;
    padding: 25px;
    margin-left: 5%;
  }
  .price {
    font-size: 15px;
  }
  .title {
    font-size: 15px;
  }
  input[type="number"]{
    width: 40%;
    height: 10%;
    margin-left: 30%;
  }
  legend{
    font-size: 15px;
  }

}
@media (min-width: 600px) and (max-width: 900px){
  .flex-box {
    flex-wrap: wrap;
  }
  form {
    width: 100%;
  }
}

/* FOOTER */
/* footer */
footer {
  background: #232d27;
  padding-top: 5%;
}

.footer-area {
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-content {
  width: 33.3%;
  box-sizing: border-box;
}

.footer-content h3 {
  font-size: 100%;
  margin-bottom: 5%;
  text-align: center;
  color: #878787;
  letter-spacing: 1px;
}

.footer-content p {
  font-size: 70%;
  width: 100%;
  margin: auto;
  padding: 2%;
  color: #878787;
}

.footer-content ul {
  text-align: center;
}

.footer-list {
  padding: 0;
}

.footer-list li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 2px;
  position: relative;
  color: #F6F5F2;
}

.footer-list li a {
  color: #878787;
  font-size: 10px;
}


.copyright {
  background: #F6F5F2;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}

.copyright p {
  color: #343434;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}

/* Responsive styles */
@media (max-width:600px) {
  .footer-content {
    width: 100%;
    padding: 20%;
  }
}

@media (max-width:600px) {
  .footer-content {
    width: 100%;
    position: relative;
    padding: 10%;
  }
  .footer-area .footer-content p {
    text-align: center;
    justify-content: center;
  }
  .footer-area .footer-content h3 {
    margin-bottom: 0%;
    font-size: 1rem;
  }
}
